h2 {
    color: blue;
}

p {
    font-size: 10px;
}

span {
    /*font-size: 2em; !* em 5 times containte element *!*/
    /*font-size: 2rem; !* 2 times big as root element *!*/
    font-size: 5rem; /* 2 times big as root element */
}


footer {
    clear: both;
    text-align: center;
}